*.lo
*.o
Makefile
Makefile.in
configure
config.*
*.la
src/.deps
src/.libs
src/uxa/.deps
src/uxa/.libs
aclocal.m4
autom4te.cache/
depcomp
compile
install-sh
libtool
ltmain.sh
missing
src/spiceccid/.deps/
tags
stamp-h1
